.navbar-expand-sm navbar-light bg-light nav ul {
    white-space:nowrap;
}

.navbar-expand-sm navbar-light bg-light nav ul li {
    min-width:25px;
}

.img-fluid {
    width: 100% \9;
}

.card-img-top {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.jumbotron {
    background-color:teal;
    text-align:center;
}

.formwith {
    margin-left: 10px;
}

footer {
    background-color: grey;
    margin-top: 50px;
}

.navbar-expand{-sm|-md|-lg|-xl}

@media only screen and (max-width: 350px) {
    [class*="col-"] {
      width: 100%;
    }
  }

  .container-fluid {
      width: 100%; 
  }